<table class="table table-hover">
    <thead>
    </thead>
    <tbody>
        <tr class="info" data-subject="Build new app">
            <td>
                <i class="fa fa-check"></i>
            </td>
            <td class="js-service">
                Build your own business application on top of <b>OroPlatform</b> or <b>OroCRM</b>
            </td>
        </tr>
        <tr class="warning" data-subject="New OroCRM installation">
            <td>
                <i class="fa fa-check"></i>
            </td>
            <td>
                Install and configure <b>OroCRM</b> out-of-the-box features
            </td>
        </tr>
        <tr class="active" data-subject="Custom OroCRM functionality">
            <td>
                <i class="fa fa-check"></i>
            </td>
            <td class="js-service">
                Customize <b>OroCRM</b> features to suit your specific needs
            </td>
        </tr>
        <tr class="warning" data-subject="Add new features to OroCRM">
            <td>
                <i class="fa fa-check"></i>
            </td>
            <td class="js-service">
                Integrate new features into existing <b>OroCRM</b> installations
            </td>
        </tr>
        <tr class="info" data-subject="Install 3rd party modules">
            <td>
                <i class="fa fa-check"></i>
            </td>
            <td class="js-service">
                Install and configure 3rd party bundles and modules
            </td>
        </tr>
    </tbody>
</table>
