<table class="table borderless transparent js-response">
    <tbody>
        <tr class="hidden">
            <td colspan="3"></td>
        </tr>
        <tr class="alert-success" data-subject="Custom OroCRM functionality">
            <td>
                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
            </td>
            <td class="js-service">
                Thank you for your request. We will get in touch.
            </td>
            <td class="clickable">
                <i class="fa fa-check-square-o" aria-hidden="true"></i>
            </td>
        </tr>
    </tbody>
</table>

